<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Results <%=query %> </h1>
    <h2>(Page <%=page  %>)</h2>
    <a href="/">
        <button> &larr; Back Home 
        </button>
    </a>
<% if(results.length) { %> 
    <% results.forEach(m=>{ %>
        <div>
            <h2>
                <%= m.Title %> (<%=m.Year %>)
            </h2>
            <img src ="<%=m.Poster%>" alt="Poster" >
            <form method="POST" action="/faves"> 
                <input type="hidden" name ="title" value="<%=m.Title %>">
                <input type="hidden" name ="year" value="<%=m.Year %>">
                <input type="hidden" name ="poster" value="<%=m.Poster %>">
                <button type="submit">💜</button>
            </form>
        </div>
        <hr>
    <%  })  %> 
    <% if(page > 1){ %> 
    <a href="/search?query=<%=query %>&page=<%=page-1%>">
        <button> &larr; Previous 
        </button>
        </a>
    <% } %> 
        <a href="/search?query=<%=query %>&page=<%=page+1%>">
            <button> &rarr; Next 
            </button>
            </a>   
    <% } else {%>    
        <h1>No Movies!</h1>    
    <% } %>       
</body>
</html>